#messages {
    width: max-content;
    max-width: 738px;
    max-height:976px;
    overflow-y:auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
#error {
    position:absolute;
    right: 30px;
    bottom: 30px;
    width: max-content;
    border-radius:15px;
    min-height:max-content;
    transform: translateX(200%);
    transition: 0.3s linear;
}
#messageInput {
    flex:auto;
    padding: unset;
    border:unset;
}
#messageSubmit {
    border: unset;
}
#peerInputBox {
    width: calc(100% + 2rem);
    transform:translateX(-1rem);
}
@keyframes cartoonZoom {
    0% {
        transform: translateX(200%);
    }
    5% {
        transform: translateX(-10%);
    }
    6% {
        transform: translateX(0%);
    }
    90% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(200%)
    }
}
.errorTextComingIn {
    animation: cartoonZoom 15s;
}
body {
    overflow-x: hidden;
}
